Package: com.ethanarbuckle.afc2d
Name: afc2d
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: user
Author: user
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
